<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Club</th>
      <th>Requested At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of requests">
      <td data-label="User">
        {{ r.userName}}
        <button class="profile-btn" (click)="viewProfile(r.id)">View Profile</button>
      </td>
      <td data-label="Club">{{ r.clubName }}</td>
      <td data-label="Requested At">{{ r.createdAt | date:'short' }}</td>
      <td data-label="Actions">
        <button (click)="approve(r)">Approve</button>
        <button (click)="reject(r)">Reject</button>
      </td>
    </tr>
  </tbody>
</table>
