<div class="all">
  <div class="table-header">
    <div>
      <!-- Optional Header/Filters/Search -->
    </div>
    <button class="add-player-button" routerLink='/addplayer'>+ Add Player</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>License Number</th>
          <th>Category</th>
          <th>Birth Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filter row with inputs/select -->
        <tr class="filter-row">
          <td><input type="text" placeholder="Enter Full Name" /></td>
          <td><input type="text" placeholder="Enter License Number" /></td>
          <td>
            <select>
              <option value="" disabled selected>Select Category</option>
              <option *ngFor="let category of getUniqueCategories()" [value]="category.categoryId">
                {{ category.name }}
              </option>
            </select>
          </td>
          <td><input type="date" placeholder="Enter Birth Date" /></td>
          <td></td>
        </tr>

        <!-- Players rows -->
        <tr *ngFor="let player of players; let i = index" class="playerStatus">
          <td>{{ player.firstName + ' ' + player.lastName }}</td>
          <td>{{ player.licenseNumber }}</td>
          <td>{{ player.category.name }}</td>
          <td>{{ player.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
          <td>
            <a href="#" (click)="viewPlayer(player.playerId)">View 👁</a>
            <a href="#" (click)="editPlayer(player.playerId)">Edit ✏️</a>
            <a href="#" (click)="deletePlayer(player.playerId)">Delete 🗑️</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>