<div class="all">
  <div class="table-header">
    <div></div>
    <button class="add-user-button" routerLink="/admin/addmod">+ Add Moderator</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Moderator rows -->
      <tr *ngFor="let mod of moderators">
        <td>{{ mod.firstName }}</td>
        <td>{{ mod.lastName }}</td>
        <td>
          <button (click)="viewModerator(mod)">View 👁</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
