<div class="header">
  <!-- User image -->
  <div class="image-container">
    <img [src]="profileImageUrl" [alt]="user.firstName + ' ' + user.lastName" class="image" />
  </div>

  <!-- User Info -->
  <div class="player-info-header">
    <div class="info-block">
      <div class="name">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <span 
          class="status-badge" 
          [title]="getStatusTitle()">
          {{ getStatusDisplay() }}
        </span>
        <button class="edit-button" (click)="onEdit()">Edit</button>
      </div>
      <div class="status">User Type: {{ user.role }}</div>
    </div>

    <div class="club">
      <button class="button" (click)="onMoreDetails()">More Details</button>
    </div>
  </div>
</div>

<div class="main">
  <!-- Basic Info -->
  <div class="basic-info">
    <div class="infos">
      <h2>User ID</h2><h3>{{ user.userID }}</h3>
      <h2>Email</h2><h3>{{ user.email }}</h3>
      <h2>Phone</h2><h3>{{ user.phoneNumber }}</h3>
      <h2>Gender</h2><h3>{{ user.gender }}</h3>
      <h2>Date of Birth</h2><h3>{{ user.dateOfBirth }}</h3>
      <h2>Nationality</h2><h3>{{ user.nationality }}</h3>
      <h2>Country</h2><h3>{{ user.country }}</h3>
      <h2>Address</h2><h3>{{ user.address }}, {{ user.city }} {{ user.postalCode }}</h3>
    </div>
  </div>

  <!-- User Info (Federation / Status) -->
  <div class="sport-info">
    <div class="buttons">
      <button class="button" (click)="onViewAccess()">View Access</button>
      <button class="button" (click)="onFederationInfo()">Federation Info</button>
    </div>

    <div class="sport-section">
      <div>
        <h2>User Information</h2>
        <p><strong>User ID:</strong> {{ user.userID }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p><strong>Profile Photo:</strong> {{ profileImageUrl ? 'Uploaded' : 'Not uploaded' }}</p>
      </div>

      <div>
        <h2>Status Information</h2>
        <p><strong>Status:</strong>
          <span 
            class="validation-status" 
           >
            {{ user.status }}
          </span>
        </p>
        <p *ngIf="user.rejectionReason"><strong>Rejection Reason:</strong> {{ user.rejectionReason }}</p>
        <p *ngIf="!user.rejectionReason"><strong>Rejection Reason:</strong> —</p>
      </div>
    </div>
  </div>
</div>