<div class="container">
  <h2>Select Admin Type</h2>

  <div class="card-container" *ngIf="!selectedType">
    <div class="card" (click)="selectType('club')">
      <i class="fas fa-building"></i>
      <h3><span class="material-icons">groups</span> Club Admins</h3>
      <p>Manage clubs and their moderators.</p>
    </div>

    <div class="card" (click)="selectType('federation')">
      <i class="fas fa-globe"></i>
      <h3><span class="material-icons">public</span> Federation Admins</h3>
      <p>Manage federation and global moderators.</p>
    </div>
  </div>

  <div class="content" *ngIf="selectedType === 'club'">
    <button class="back-btn" (click)="selectedType = null">⬅ Back</button>
    <app-club-mods/>
  </div>

  <div class="content" *ngIf="selectedType === 'federation'">
    <button class="back-btn" (click)="selectedType = null">⬅ Back</button>
    <app-mods-component/>
  </div>
</div>
