<div class="member-card-container">
  <div class="header">
    <img 
      *ngIf="member?.profilePicture; else placeholder" 
      [src]="'data:image/png;base64,' + member?.profilePicture" 
      alt="Profile Picture" 
      class="image"
    />
    <ng-template #placeholder>
      <img src="assets/default-profile.png" alt="Default Profile" class="image" />
    </ng-template>

    <div class="club-info-header">
      <div class="info-block">
        <div class="name">
          <h1>{{ member?.firstName }} {{ member?.lastName }}</h1>
          <button class="edit-button">Edit</button>
          <button class="delete-button">Delete</button>
        </div>
        <div class="status">Role: 
          <span class="status-badge validated">{{ member?.type }}</span>
        </div>  
      </div>
    </div>
  </div>

  <div class="main">
    <!-- === LEFT: Basic Info (30%) === -->
    <div class="basic-info">
      <div class="infos">
        <h2>Email</h2><h3>{{ member?.email }}</h3>
        <h2>Date of Birth</h2><h3>{{ member?.dateOfBirth | date }}</h3>
        <h2>Gender</h2><h3>{{ member?.gender }}</h3>
        <h2>Phone</h2><h3>{{ member?.phoneNumber }}</h3>
        <h2>Nationality</h2><h3>{{ member?.nationality }}</h3>
        <h2>National ID</h2><h3>{{ member?.nationalID }}</h3>
        <h2>Address</h2><h3>{{ member?.address }}</h3>
        <h2>Club ID</h2><h3>{{ member?.clubId }}</h3>
      </div>
    </div>

    <!-- === RIGHT: Federation & Categories (70%) === -->
    <div class="sport-info">
      <div class="buttons">
        <button class="button" >View Credentials</button>
      </div>

      <div class="sport-section">
        <div class="validation-section">
  <h2>Validation Status</h2>

  <div class="validation-box">
    <div class="validator-block">
      <h3>Club Admin</h3>
      <p><strong>Status:</strong> {{ member}}</p>
      <p><strong>Validated At:</strong> {{  '-' }}</p>
      <p><strong>Validated By:</strong> {{ '-' }}</p>
      <p *ngIf>
        <strong>Reason:</strong> {{ member }}
      </p>
    </div>

    <div class="validator-block">
      <h3>Federation</h3>
      <p><strong>Status:</strong></p>
      <p><strong>Validated At:</strong> {{  '-' }}</p>
      <p><strong>Validated By:</strong> {{  '-' }}</p>
      <p *ngIf >
        <strong>Reason:</strong>
      </p>
    </div>
  </div>
</div>


        <div>
          <h2>Categories</h2>
          <ul *ngIf="member?.categories?.length ; else noCat">
            <li *ngFor="let cat of member?.categories">{{ cat }}</li>
          </ul>
          <ng-template #noCat>
            <p class="no-categories-message">No categories assigned.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</div>
